@import url(https://fonts.googleapis.com/css?family=Orbitron:900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background: #fff;
  color: #999;
}
a {
  color: #c73e3e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 30px;
  font-weight: 700;
}
h1 {
  font-family: 'Orbitron', sans-serif;
  color: #c73e3e;
}
.reset-padding {
  padding: 0;
}
.head {
  color: #fff;
  width: 100%;
}
.head .container {
  background: #c73e3e;
}
.logo {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 0 16px;
  line-height: 20px;
}
.logo a {
  color: #fff;
}
.logo a:hover {
  text-decoration: none;
}
.item,
.home .item:last-child {
  margin-bottom: 70px;
}
.home .item {
  margin-bottom: 130px;
}
.headline {
  text-align: center;
}
.home .headline {
  display: none;
}
.item-content-img {
  margin: 0 0 30px;
}
.item-content-img img {
  display: block;
  width: 100%;
  height: auto;
}
.item-cta {
  text-align: center;
}
.wp-pagenavi {
  text-align: center;
}
.wp-pagenavi .pages {
  display: none;
}
.wp-pagenavi .current,
.wp-pagenavi .page,
.wp-pagenavi .nextpostslink {
  border-radius: 100px;
  border: none;
  display: inline-block;
  height: 30px;
  width: 30px;
  background: #ddd;
  color: #999;
  font-size: 14px;
  line-height: 23px;
}
.wp-pagenavi span.current {
  color: #fff;
  background: #c73e3e;
  font-weight: 400;
}
.footer {
  text-align: center;
  font-size: 14px;
  padding: 30px 0;
}
.footer ul {
  padding: 0;
  list-style-type: none;
}
